<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<div id="container-wrapper">
    <header>
        <th:block th:include="~{fragments/navbar}"></th:block>
    </header>
    <div id="root">
        <h1 class="text-center text-light">Delete Director</h1>
        <hr class="hr-2 bg-white w-30">
        <form class="form w-25 mx-auto" th:href="@{/directors/directorDelete/{id}(id=${directorId})}" method="post"
              enctype="multipart/form-data">
            <div class="form-group">
                <label for="director-name" class="font-weight-bold text-light">Name</label>
                <input type="text" class="form-control" id="director-name" th:value="${director.name}"
                       name="name" disabled>
            </div>
            <div class="form-group">
                <label for="director-biography" class="font-weight-bold text-light">Biography</label>
                <textarea type="text" th:rows="4" class="form-control" id="director-biography" th:text="${director.biography}"
                          name="biography" disabled></textarea>

            </div>
            <div class="form-group justify-content-center">
                <label for="director-photo" class="font-weight-bold text-light">Actor photo</label>
                <input type="file" id="director-photo" class="form-control-file" name="photo" disabled>
            </div>
            <hr class="hr-2 bg-white">
            <div class="button-holder d-flex justify-content-center">
                <button type="submit" class="btn btn-danger btn-lg">Delete Director</button>
            </div>
        </form>
    </div>
</div>
<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</body>

</html>