<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<div id="container-wrapper">
    <header>
        <th:block th:include="~{fragments/navbar}"></th:block>
    </header>
    <div id="root">
        <section id="movies-home-section" class="d-inline">
            <p class="text-light h3">All movies in our site ...</p>

            <th:block th:each="actor, iter : ${actors}">
                <div class="text-center m-3 border border-light rounded-right d-flex p-4 bg-info">
                    <div class="text-light col-sm m-2">
                        <img th:src="${actor.photo}" width="80" height="80" alt="quotes">
                        <h3 th:text="${actor.name}"></h3>
                    </div>

                    <div class="active text-center col-sm m-2">
                        <a th:href="@{/actors/actorDetails/{id}(id=${actor.id})}"
                           class="btn btn-secondary font-weight-bold text-white">See More</a>
                    </div>
                </div>
            </th:block>
        </section>
    </div>
</div>
<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</body>

</html>