<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<div id="container-wrapper">
    <header>
        <th:block th:include="~{fragments/navbar}"></th:block>
    </header>
    <div id="root">
        <h1 class="text-center text-light">Create Movie</h1>
        <hr class="hr-2 bg-white w-30">
        <form class="form w-25 mx-auto" th:action="@{/movies/adminCreateMovie}" method="post"
              enctype="multipart/form-data">

            <div class="form-group">
                <label for="movie-name" class="font-weight-bold text-light">Name</label>
                <input type="text" class="form-control" id="movie-name" placeholder="Movie name is .." name="name">

            </div>

            <div class="form-group">
                <label for="movie-description" class="font-weight-bold text-light">Description</label>
                <textarea th:rows="4" type="text" class="form-control" id="movie-description" placeholder="Movie Description.."
                          name="description"></textarea>

            </div>

            <div class="form-group">
                <label for="movie-date" class="font-weight-bold text-light">Premiere Date</label>
                <input type="text" class="form-control" id="movie-date" placeholder="Movie name is .."
                       name="premiereDate">
            </div>

            <div class="form-group">
                <label for="select-movie-genre" class="font-weight-bold text-light">Genre</label>

                <select id="select-movie-genre" class="form-control" name="genre">
                    <option selected="selected" disabled>Genre</option>

                    <option th:each="genre : ${T(org.softuni.mymoviemaster.domain.enums.Genre).values()}"
                            th:value="${genre}" th:text="${genre}"></option>

                </select>
            </div>

            <div class="md-form mt-0 form-group justify-content-center">
                <label for="select-one-director" class="font-weight-bold text-light">Director</label>

                <select id="select-one-director" class="form-control" name="director">
                    <option selected="selected" disabled>Director search</option>
                        <option th:each="director,row : ${directors}"
                                th:value="${director.id}"
                                th:text="${director.name}"></option>
                </select>
            </div>

            <div class="md-form mt-0 form-group justify-content-center">
                <label for="select-many-actors" class="font-weight-bold text-light">Actors</label>

                <select id="select-many-actors" class="form-control" multiple="multiple" name="actors">
                    <option th:each="actor,row : ${actors}"
                            th:value="${actor.id}"
                            th:text="${actor.name}"></option>
                </select>
            </div>

            <div class="form-group justify-content-center">
                <label for="movie-photo" class="font-weight-bold text-light">Movie Cover</label>
                <input type="file" id="movie-photo" class="form-control-file" name="photo">
            </div>

            <div class="form-group justify-content-center">
                <label for="movie-minutes" class="font-weight-bold text-light">Movie duration</label>

                <input type="number" class="form-control" id="movie-minutes" placeholder="Movie duration is .."
                name="movieMinutes">
            </div>

            <hr class="hr-2 bg-white">

            <div class="button-holder d-flex justify-content-center">
                <button type="submit" class="btn btn-primary btn-lg">Create Movie</button>
            </div>

        </form>
    </div>
</div>

<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</body>

</html>